<ul>
	<% @contacts.each do|contact| %>
		<li>
			<%= contact.name %>
			
			<% if contact.address != nil %>
				-
				<%= contact.address %>
			<%end%>

			<% if contact.phone_number != nil %>
				-
				<%= contact.phone_number %>
			<%end%>

			<% if contact.email_address != nil %>
				-
				<%= contact.email_address %>
			<%end%>
		</li>
	<%end%>
</ul>